@media (max-width: 1300px) {
  .popup-content {
    width: 90%;
  }

  .gallery .popup-image span {
    font-size: 40px;
  }

  .gallery .popup-image .left {
    padding: 5px 10px;
    left: var(--my-gap);
  }

  .gallery .popup-image .right {
    padding: 5px 10px;
    right: var(--my-gap);
  }

  .gallery .popup-image img {
    width: 95%;
  }
}

@media (max-width: 900px) {
  .gallery-item {
    width: calc(50% - 1px);
    padding-bottom: 50%;
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
    padding-bottom: 100%;
  }

  .popup-content {
    margin: 20px auto;
  }
}
