#about-us .all-cards {
  font-family: tahoma;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: calc(4 * var(--my-gap));
}

#about-us .all-cards .one-card {
  background-color: var(--my-white);
  text-align: center;
  position: relative;
  border: 1px solid var(--main-color);
  width: 250px;
  max-width: 250px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

#about-us .all-cards .one-card .picture-container {
  display: inline-block;
  background-color: var(--main-color);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
}

#about-us .all-cards .one-card .picture-container .picture-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: all 0.9s ease;
}

#about-us .all-cards .one-card:hover .picture-container .picture-img {
  box-shadow: 0 0 0 14px var(--my-white);
  transform: scale(0.7);
}

#about-us .all-cards .one-card .name {
  font-size: 26px;
  font-weight: 500;
}

#about-us .all-cards .one-card .position {
  color: var(--my-gray);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#about-us .all-cards .one-card .more-info-container {
  color: var(--my-white);
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s ease;
  padding-top: 5px;
  padding-bottom: 5px;
  visibility: hidden;
}

#about-us .all-cards .one-card:hover .more-info-container {
  visibility: visible;
}

#about-us .all-cards .one-card .more-info-container .more-info-label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2;
}

#about-us .all-cards .one-card .more-info-container .more-info-arrow {
  font-size: 14px;
  font-weight: 1000;
  padding-left: 10px;
  letter-spacing: 0;
}

#co-deti-zaziji {
  background-color: var(--bg-color);
}

.thought-container {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  align-items: center;
  align-content: center;
  padding: 0 10%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.thought {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin: 40px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
}

.thought:before,
.thought:after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 0;
}

.thought:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px #fff;
  z-index: -1;
}

.thought:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 #fff, -28px -6px 0 -2px #fff,
    -24px 17px 0 -6px #fff, -5px 25px 0 -10px #fff;
}

.thought-1 {
  right: 15px;
  top: -20px;
}
.thought-2 {
  top: 20px;
}

.thought-3 {
  right: 30px;
  bottom: 20px;
}

.thought-4 {
  left: 10px;
}

.thought-5 {
  left: 20px;
}

.thought-6 {
  bottom: 15px;
  left: 80px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
}

.gallery-item {
  position: relative;
  width: calc(25% - 1px);
  padding-bottom: 25%;
  overflow: hidden;
  cursor: zoom-in;
}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

.overlay {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 1;
  overflow: scroll;
}

.visible {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.invisible {
  visibility: hidden;
}

.popup-content {
  margin: 70px auto;
  padding: 40px;
  background: var(--my-white);
  border-radius: var(--border-radius);
  position: relative;
  max-width: 750px;
  font-family: tahoma;
  text-align: center;
}

.popup-content .close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup-content .left {
  position: absolute;
  top: 349px;
  left: 15px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup-content .right {
  position: absolute;
  top: 349px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup-content .close,
.popup-content .left,
.popup-content .right {
  cursor: pointer;
}

.popup-content .picture-container {
  display: inline-block;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.popup-content img {
  max-width: 200px;
  border-radius: 50%;
}

.popup-content .name {
  font-size: 32px;
  font-weight: 500;
}

.popup-content .position {
  color: var(--my-gray);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.popup-content .card-text {
  line-height: 1.2;
  margin-bottom: 30px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gallery .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.gallery .popup-image span {
  font-size: 60px;
  padding: 10px 20px;
  color: var(--my-white);
  cursor: pointer;
  z-index: 100;
}

.gallery .popup-image .close {
  position: absolute;
  top: 0;
  right: 0;
}

.gallery .popup-image .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gallery .popup-image .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gallery .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--my-white);
  border-radius: 5px;
  width: 75%;
  max-width: 1200px;
  max-height: 95%;
  object-fit: cover;
  cursor: zoom-out;
}
