* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font-family);
}

#web-page {
  position: relative;
}

#web-page::before {
  content: "";
  background-image: url("../img/background/zahlavi4.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  position: absolute;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: 0;
  right: 0;
  opacity: 0.6;
}

.anchor {
  /* scroll-margin-top: calc(var(--header-height) + 10px); */
  scroll-margin-top: 20px;
}

.section-padding {
  /* padding-top: calc(30px + var(--header-height)); */
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1600px;
}

.section-wrapper {
  background-color: var(--text-bg-color);
  padding: 20px;
  border-radius: var(--border-radius);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-color);
}

.note {
  font-size: 12px;
}

.header-note {
  font-size: 15px;
  font-weight: 200;
  /* text-transform: lowercase; */
}

.important {
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.white-space {
  padding: 20px;
}

.white-space-text {
  padding: 10px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--main-color);
}

h3 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--main-color);
}

h4 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--main-color);
}

.my-btn {
  transition: 0.4s;
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
}

.my-btn:hover {
  background-color: var(--main-color);
}

.my-btn a {
  text-decoration: none;
  font-family: var(--text-font-family);
  text-transform: uppercase;
}

.more-info-btn {
  padding: 6px 12px;
}

.more-info-btn a {
  font-size: 12px;
  letter-spacing: 0.5px;
}

.link-btn {
  padding: 7px 15px;
}

.link-btn a {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  transition: 0.4s;
  font-weight: 500;
}

a:link,
a:visited {
  color: var(--link-color);
}

a:hover,
a:active {
  color: var(--text-color);
}
