/* sm + md device */
@media (max-width: 800px) {
  .content-container {
    width: calc(100% - var(--margin-left) - var(--margin-right));
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
  }
}
