* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font-family);
}

#web-page {
  position: relative;
}

#web-page::before {
  content: "";
  background-image: url("../img/background/pozadi_2024_2.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  position: absolute;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}

#footer {
  position: sticky;
  z-index: 0;
}

#header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.anchor {
  scroll-margin-top: calc(var(--header-height) + 10px);
}

.content-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1600px;
}

.side-padding {
  padding-left: 40px;
  padding-right: 40px;
}

.section-wrapper,
.page-container {
  background-color: var(--text-bg-color);
  box-shadow: var(--box-shadow);
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
  color: var(--text-color);
  hyphens: auto;
}

.note {
  font-size: 15px;
}

.header-note {
  font-size: 15px;
  font-weight: 200;
  /* text-transform: lowercase; */
}

.important {
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.centered-text {
  text-align: center;
}

.white-space {
  padding: 20px;
}

.white-space-text {
  padding: 10px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.h-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-frame {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
  text-align: center;
  text-transform: uppercase;

  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
  font-size: 42px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  font-weight: 300;
}

h3 {
  font-size: 22px;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

.my-btn {
  transition: 0.4s;
  border: 2px solid var(--main-color);
  border-radius: var(--border-radius);
}

.my-btn a {
  text-decoration: none;
  font-family: var(--text-font-family);
  text-transform: uppercase;
}

.my-btn:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.my-btn:hover a {
  color: var(--text-color);
  color: white;
}

.more-info-btn {
  padding: 6px 12px;
}

.more-info-btn a {
  font-size: 12px;
  letter-spacing: 0.5px;
}

.link-btn {
  padding: 7px 15px;
}

.link-btn a {
  font-size: 14px;
  letter-spacing: 0.5px;
}

a {
  transition: 0.4s;
  font-weight: 500;
}

a:link,
a:visited {
  color: var(--link-color);
}

a:hover,
a:active {
  color: var(--link-hover-color);
}

.my-btn a {
  color: var(--text-color);
}
