#contact table {
  max-width: 600px;
  border-collapse: collapse;
  line-height: 2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#contact td {
  text-align: center;
  font-weight: 350;
  vertical-align: top;
}

#contact td:first-child {
  padding-right: 40px;
  text-align: right;
  width: 250px;
  font-weight: 300;
}

#contact td:last-child {
  padding-right: 40px;
  text-align: left;
  width: 350px;
}

#contact .map-container {
  width: 100%;
  max-width: 700px;
  height: 0;
  padding-bottom: min(75%, 466px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#contact .map-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
