#iframe-footer {
  width: 100%;
  height: var(--footer-height);
  border: none;
  position: absolute;
  z-index: 2;
}

footer {
  height: var(--footer-height);
  background-color: var(--nav-color-transparent);
}

footer .footer-copyright {
  padding-top: 60px;
}

footer .footer-text {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}
