header {
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
}

header .header-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);

  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
}

header .logo-container {
  border-radius: 50%;
  /* background-color: var(--text-bg-color); */
  background-color: var(--bg-color);
  /* background-color: var(--main-color); */
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

header .logo-big {
  border: 10px solid var(--main-color);
  width: 200px;
  height: 200px;
  top: 25px;
  left: -75px;
}

header .logo-small {
  border: 5px solid var(--main-color);
  width: 150px;
  height: 150px;
  top: 12px;
  left: -50px;
}

header .logo-container #img-logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

header .menu-icon-container {
  margin-left: 10px;
  display: block;
}

header .menu-icon-container:hover {
  cursor: pointer;
}

header .menu-icon-container i {
  font-size: 22px;
  padding: 10px;
}

header .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  width: 800px;
}

header .nav-list .nav-list-li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

header .nav-list .nav-list-li .nav-dropdown {
  position: absolute;
  top: 25px;
  left: -20px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--main-color-transparent);
}

header .nav-list .nav-dropdown .nav-list-dropdown-li {
  list-style-type: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .nav-list .menu-item,
header .nav-list .menu-item-dropdown {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  font-family: var(--headings-font-family);
  font-weight: 400;
  padding: 5px 10px;
  margin: 5px 10px;
  border: 1px solid rgb(0, 0, 0, 0);
  white-space: nowrap;
}

header .nav-list .menu-item:hover,
header .nav-list .menu-item-dropdown:hover {
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  /* border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color); */
}

header .nav-list .menu-item,
header .nav-list .menu-item-dropdown {
  margin: -1px 0 0 0;
}

header .nav-list .menu-item i {
  font-size: 18px;
}

header .nav-list .nav-list-li .nav-dropdown {
  display: none;
  z-index: 2;
}

header .nav-list .nav-list-li:hover .nav-dropdown {
  display: block;
}
