header .nav-hamburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .nav-hamburger .logo-container {
  width: 150px;
}

header .nav-hamburger .logo-container a {
  display: inline-block;
}

header .nav-hamburger .logo-container img {
  width: 100%;
  margin-top: 10px;
}

header .nav-hamburger .menu-icon-container {
  display: block;
}

header .nav-hamburger .menu-icon-container:hover {
  cursor: pointer;
}

header .nav-hamburger .menu-icon-container i {
  font-size: 22px;
  padding: 10px;
}

header nav {
  z-index: 2;
}

header .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

header .nav-list .nav-list-li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

header .nav-list .nav-list-li .nav-dropdown {
  position: absolute;
  top: 30px;
  left: -20px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--main-color-transparent);
}

header .nav-list .nav-dropdown .nav-list-dropdown-li {
  list-style-type: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .nav-list .menu-item,
header .nav-list .menu-item-dropdown {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  padding: 5px 10px;
  margin: 5px 10px;
  border: 2px solid rgb(0, 0, 0, 0);
  white-space: nowrap;
}

header .nav-list .menu-item:hover,
header .nav-list .menu-item-dropdown:hover {
  border: 2px solid var(--text-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

header .nav-list .menu-item,
header .nav-list .menu-item-dropdown {
  margin: -1px 0 0 0;
}

header .nav-list .menu-item i {
  font-size: 18px;
}

header .nav-list .nav-list-li .nav-dropdown {
  display: none;
  z-index: 2;
}

header .nav-list .nav-list-li:hover .nav-dropdown {
  display: block;
}
