#home .news-wrapper {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}

#home .news-wrapper .section-wrapper {
  width: 400px;
  height: max-content;
  position: relative;
}

#home .news-wrapper p {
  text-align: center;
}

#home .news-wrapper .more-info-btn {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#home ul {
  list-style-type: none;
  line-height: 2;
}

#home .box-one {
  max-width: 670px;
  margin: 0 auto;
}

#home .box-two {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#home .box-three {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#home .section-video {
  width: 100vw;
  margin: 0 auto;
}

#home .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#home .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
