#home .news-wrapper {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}

#home .news-wrapper .section-wrapper {
  width: 400px;
  height: max-content;
  position: relative;
}

#home .news-wrapper p {
  text-align: center;
}

#home .news-wrapper .more-info-btn {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#home .wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--my-gap);
}

#home .wrap-50 {
  width: calc(50% - calc(var(--my-gap) / 2));
}

#home .intro-img-1 {
  background-image: url("../img/photos-in-text/LMS-Siska-pergola.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

#home .intro-img-2 {
  background-image: url("../img/photos-in-text/LMS-Siska-deti.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

#home .about-us-icons {
  display: flex;
  justify-content: space-around;
}

#home .about-us-icons .icon-container {
  max-width: 150px;
}

#home .about-us-icons .icon-container .icon-image {
  width: 50%;
  margin: 0 auto;
}

#home .about-us-icons .icon-container .icon-image img {
  width: 100%;
}

#home .about-us-icons .icon-container .icon-title {
  color: var(--text-col-light);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#home .list-chcecked {
  margin: auto;
  max-width: max-content;

  font-size: 18px;
  font-weight: 500;
}

#home .list-chcecked ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}

#home .list-chcecked li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

#home .list-chcecked li::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/checked.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-top: 5px;
}

#home .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#home .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
