#home .into-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

#home .into-wrapper .intro-box-one {
  width: 400px;
}

#home .into-wrapper .intro-box-one img {
  width: 100%;
  margin: 0 auto;
}

#home .into-wrapper .intro-box-two {
  /* width: 75%; */
  text-align: center;
}

#home .into-wrapper .intro-box-two .intro-text {
  font-family: var(--headings-font-family);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2;
}

#home .news-wrapper {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}

#home .news-wrapper .section-wrapper {
  width: 400px;
  height: max-content;
  position: relative;
}

#home .news-wrapper p {
  text-align: center;
}

#home .news-wrapper .more-info-btn {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
