:root {
  --main-color: rgb(115, 170, 176);
  --main-color-transparent: rgba(115, 170, 176, 0.9);
  --bg-color: rgb(188, 230, 234);

  --text-color: rgb(0, 0, 0);
  --text-bg-color: rgba(255, 255, 255, 0.8);
  --link-color: rgb(198, 82, 72);
  --link-hover-color: rgb(216, 137, 130);

  --my-white: rgb(255, 255, 255);
  --my-gray: #5f5f5f;

  --header-height: 60px;
  --my-gap: 20px;
  --border-radius: 3px;

  --box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);

  /* --headings-font-family: "Shadows Into Light Two", sans-serif; */
  /* --text-font-family: "IBM Plex Serif", sans-serif; */
  --headings-font-family: "Fira Sans", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}
