:root {
  --main-color: rgb(233, 200, 25);
  --main-color-transparent: rgb(233, 200, 25, 0.9);
  --text-color: rgb(0, 0, 0);
  --text-bg-color: rgb(236, 235, 235);
  --link-color: rgb(108, 108, 108);
  --my-white: rgb(255, 255, 255);
  --header-height: 60px;
  --footer-height: 650px;
  --headings-font-family: "Fira Sans", sans-serif;
  --text-font-family: "Open Sans", sans-serif;
  --my-gap: 20px;
  --border-radius: 3px;
}
