/********************  sm + md device  ********************/
/**********************************************************/
@media (max-width: 768px) {
  /*******  root variables  *******/
  :root {
    --header-height: 80px;
    --margin-left: 20px;
    --margin-right: 20px;
  }

  /*******  common  *******/
  .content-container {
    width: calc(100% - var(--margin-left) - var(--margin-right));
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
  }

  /*******  navigation  *******/
  header .nav-hamburger-container {
    background-color: var(--nav-color);
  }

  header nav {
    display: none;
    position: absolute;
    top: calc(var(--header-height) - 10px);
    left: 0;
  }

  header nav .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
    width: max-content;
    height: 100%;
    background-color: var(--nav-color-transparent);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  header nav .nav-list li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }

  header nav .nav-list li i {
    display: none;
  }

  header .nav-list .nav-list-li .nav-dropdown {
    display: block;
    position: relative;
    top: 5px;
    left: 20px;
    background-color: rgb(0, 0, 0, 0);
  }

  /*******  hero section  *******/
  #home .into-wrapper .intro-box-one {
    display: none;
  }

  #home .into-wrapper .intro-box-two {
    width: 100%;
  }
}

/********************  lg, xl, xxl device  ********************/
/**************************************************************/
@media (min-width: 769px) {
  /*******  logo & navigation  *******/
  header {
    background-color: var(--nav-color);
  }

  header .nav-hamburger {
    display: none;
  }

  header nav {
    display: block !important;
  }
}
