/********************  root variables  ********************/
:root {
  --my-black: rgb(0, 0, 0);
  --my-white: rgb(255, 255, 255);
  --nav-color: rgb(233, 200, 25);
  --nav-color-transparent: rgb(233, 200, 25, 0.7);
  --text-bg-color: rgb(236, 235, 235);
  --my-gap: 20px;
  --header-height: 60px;
  --footer-height: 150px;
  --headings-font-family: "Fira Sans", sans-serif;
  --text-font-family: "Open Sans", sans-serif;
}

/********************  common properties  ********************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font-family);
}

#web-page {
  position: relative;
}

#web-page::before {
  content: "";
  background-image: url("./img/background/zahlavi4.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}

.anchor {
  scroll-margin-top: var(--header-height);
}

.section-padding {
  padding-top: calc(30px + var(--header-height));
  padding-bottom: 80px;
}

.content-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1600px;
}

.into-wrapper {
  background-color: var(--text-bg-color);
  padding: 20px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.white-space {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--nav-color);
}

h2::first-letter {
  font-size: 42px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--nav-color);
}

h3::first-letter {
  font-size: 28px;
}

/********************  logo & navigation menu  ********************/
#iframe-header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 750px;
  border: none;
}

header .nav-hamburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .nav-hamburger .logo-container {
  width: 150px;
  margin-right: 20px;
}

header .nav-hamburger .logo-container a {
  display: inline-block;
}

header .nav-hamburger .logo-container img {
  width: 100%;
  margin-top: 10px;
}

header .nav-hamburger .menu-icon-container {
  display: block;
}

header .nav-hamburger .menu-icon-container:hover {
  cursor: pointer;
}

header .nav-hamburger .menu-icon-container i {
  font-size: 22px;
  padding: 10px;
  margin-left: 20px;
}

header .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

header .nav-list .nav-list-li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

header .nav-list .nav-list-li .nav-dropdown {
  position: absolute;
  top: 30px;
  left: -20px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--nav-color-transparent);
}

header .nav-list .nav-dropdown .nav-list-dropdown-li {
  list-style-type: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .nav-list .menu-item,
header .nav-list .menu-item-dropdown {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--my-black);
  padding: 5px 10px;
  margin: 5px 10px;
  border: 1px solid rgb(0, 0, 0, 0);
  white-space: nowrap;
}

header .nav-list .menu-item:hover,
header .nav-list .menu-item-dropdown:hover {
  border: 1px solid var(--my-black);
  cursor: pointer;
}

header .nav-list .menu-item,
header .nav-list .menu-item-dropdown {
  margin: -1px 0 0 0;
}

header .nav-list .menu-item i {
  font-size: 18px;
}

header .nav-list .nav-list-li .nav-dropdown {
  display: none;
}

header .nav-list .nav-list-li:hover .nav-dropdown {
  display: block;
}

/********************  hero section  ********************/
#home .into-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#home .into-wrapper .intro-box-one {
  width: 25%;
}

#home .into-wrapper .intro-box-one img {
  width: 100%;
  margin: 0 auto;
}

#home .into-wrapper .intro-box-two {
  width: 75%;
  text-align: center;
}

#home .into-wrapper .intro-box-two h1 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

#home .into-wrapper .intro-box-two .intro-text {
  font-family: var(--headings-font-family);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2;
}

/********************  footer  ********************/
#iframe-footer {
  width: 100%;
  height: var(--footer-height);
  border: none;
  position: absolute;
  z-index: 2;
}

footer {
  height: var(--footer-height);
  background-color: var(--nav-color-transparent);
}

footer .footer-copyright {
  padding-top: 60px;
}

footer .footer-text {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}
